.speech {
    font-size: 15px;
    color: #000;
}
.stage-direction {
    font-size: 13px;
    color: #000;
    background-color: #F8E2CF;
}
.stage-direction:hover {
    color: #fff;
    background-color: #2D46B9;
}
.name {
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.name:hover {
    border-bottom: 1px solid;
    border-color: inherit;
    box-shadow: 0px 5px 6px;
}
.lord-goring {
    color: #F037A5 ;
}
.james {
    color: #125D98;
}
.lord-caversham {
    color: #99154E;
}
.mabel-chiltern {
    color: #346751;
}

table,
        th,
        td {
            border: 1px solid black;
            padding: 1rem 2rem;
            text-align: center;
        }
        td {
            color: #2D46B9;

        }
        table {
            border-collapse: collapse;
            margin: 2rem auto;
        }
        tr:nth-child(even) {
            background-color: #eaeaeaa1;
        }
        tr td:last-child {
            color: darkgreen;
        }
.link {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
h5 {
    margin: 0 0 5px 0;
    max-height: 24px;
}
.icon {
    font-size: 16px;
    padding: 0 5px;
}

nav {
    display: flex;
    border: 1px solid #ccc;
    background-color: rgb(0, 54, 77);
    color: rgb(250,250,250) !important;
}
.nav-item {
    padding: 1rem 2rem;
    margin: 0 1rem;
}
.nav-item:hover {
    background: hsla(0,0%,100%,.15);
    color: white;
}

nav a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.end-img {
    display: flex;
    justify-content: center;
    
}